apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-{{ .Chart.Name }}
  labels:
    app: {{ .Release.Name }}-{{ .Chart.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-{{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-{{ .Chart.Name }}
      annotations:
        vault.hashicorp.com/agent-inject: "true"
        vault.hashicorp.com/role: {{ .Values.vault.role | quote }}
        vault.hashicorp.com/auth-path: "auth/kubernetes"

        vault.hashicorp.com/agent-inject-secret-application.properties: {{ .Values.vault.secretPath | quote }}
        vault.hashicorp.com/agent-inject-template-application.properties: |
          {{- .Values.vault.secretTemplate | nindent 10 }}

        {{- range $filename, $config := .Values.vault.extraSecrets }}
        vault.hashicorp.com/agent-inject-secret-{{ $filename }}: {{ $config.secretPath | quote }}
        vault.hashicorp.com/agent-inject-template-{{ $filename }}: |
          {{- $config.secretTemplate | nindent 10 }}
        {{- end }}
    spec:
      serviceAccountName: {{ .Values.serviceAccount.name }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: JAVA_TOOL_OPTIONS
              value: "-XX:MaxRAMPercentage=75.0"
            - name: SPRING_PROFILES_ACTIVE
              value: "{{ .Values.spring.profiles.active }}"
          resources:
            {{- toYaml .Values.resources | nindent 12 }}